.colorNav {
  background-color: #f3f3f3;
  padding-top: 10px;
  padding-bottom: 10px;
}
.options {
  background-color: #f8f8f8;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0px;
}
.Mycontainer {
  /* margin-right: 0 !important;
  margin-left: 0 !important; */
  background-color: #f8f8f8;
}
.Inputstyle {
  width: 600px;
  padding-left: 18px;
  border: 1px black solid;
  border-radius: 10px;
  outline: none;
  position: relative;
  margin-left: 240px;
  z-index: 0;
}
.symbol {
  margin-left: -28px;
  margin-top: 10px;
  margin-right: 28px;
  position: absolute;
  z-index: 10;
}
.button {
  margin-right: 10px;
}
.myToggle {
  display: inline-flex;
}
.Imagestyle {
  margin-left: 20px;
  margin-top: 10px;
}
.imageSymbol {
  height: 25px;
  width: 25px;
  padding-right: 5px;
}
.CaraouselDesign {
  height: 480px;
}
.cardImageSize {
  height: 80px;
  width: 80px;
  display: inline;
  border: black solid 1px;
}
.line {
  border-top: 1px solid black;
}
.lineTitle{
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 56px;
margin-left: 50px;
}
.cardDesign{
  border-radius: 20px;
  width: 20rem;
}
@media screen and (max-width: 1255px) {
  .Inputstyle {
    margin-left: 150px;
  }
}
@media screen and (max-width: 1168px) {
  .Inputstyle {
    margin-left: 80px;
    width: 550px;
  }
}
@media screen and (max-width: 1085px) {
  .Inputstyle {
    margin-left: 70px;
    width: 500px;
  }
}
@media screen and (max-width: 991px) {
  .Inputstyle {
    margin-left: 30px;
    margin-bottom: 6px;
    width: 60%;
    display: inline;
    height: 35px;
    margin-top: -10px;
  }
  .myToggle {
    margin-left: 100px;
    display: block;
    margin-top: -30px;
  }
  .Imagestyle {
    margin-top: -10px;
    margin-left: 150px;
    margin-right: 30px;
  }
  .CaraouselDesign {
    height: 420px;
  }
}
@media screen and (max-width: 711px) {
  .myToggle {
    margin-left: 50px;
  }
  .Imagestyle {
    margin-left: 50px;
  }
  .CaraouselDesign {
    height: 400px;
  }
}
@media screen and (max-width: 550px) {
  .CaraouselDesign {
    height: 330px;
  }
}
@media screen and (max-width: 431px) {
  .myToggle {
    margin-left: 20px;
  }
  .Imagestyle {
    margin-left: 60px;
    margin-right: 10px;
  }
  .Inputstyle {
    margin-left: 10px;
    width: 210px;
  }
  .CaraouselDesign {
    height: 280px;
  }
}
